
public class Solution {
            public static String[] strings;

            public static void main(String[] args) {
                Scanner sc = new Scanner(System.in);
                strings = new String[6];
                String a;
                for (int i = 0; i < strings.length; i++) {
                    strings[i] = sc.nextLine();
                }
                for (int i = 5; i > 0; i--)
          
                        a = strings[i];
                    } else continue;
                    for (int b = i - 1; b >= 0; b--) {
                        if ((strings[b] != null) && (strings[b].equals(a))) {
                            strings[b] = null;
                            ииоуиоимим
                            strings[i] = null;
                        }
                    }
                }
                for (int i = 0; i < strings.length; i++) {
                    System.out.print(strings[i] + ", ");
                }
            }
        }

